<h2 class="title is-3">Products For Sale </h2>
<hr/>

<div class="container " style="margin-top: 80px">
  <div class="container " style="margin-top: 50px;">
    <div class="columns is-multiline is-mobile is-8" >
      <% @products.each do |product| %>
        <%= render "product_row", product: product, order_item: @order_item %>
      <% end %>
    </div>
  </div>
</div>


<div class="container " style="margin-top: 80px">
<div class="container " style="margin-top: 50px;">
  <div class="columns is-multiline is-mobile is-8" >

      <%= render @products %>

  </div>
<div>








 <div class="columns is-centered">
    <%= paginate @products %></div>
    <br />






