  <div class="container">
    <h2 class="title is-3 is-spaced">Search Results</h2>
    </div>
        <h4 class= "subtitle is-6">Results found for "<%= @query %>" returned <%= pluralize(@products.size, 'result')%>.</h4>
        <%= render @products%>

<p><%= link_to 'Back', products_path %></p>
